
# data file #
#############
Metadata/*.json
Images/*.jpg
Cropped/*.jpg
Segmented/*.png


# Snakemake log file #
######################

.snakemake/**

.config/**

# Model and python file #

.cache/**

*.pyc
*.pth
# Container image
*.sif
